.view-previous-comments {
  background: rgba(0, 0, 0, .075);
  display: block;
  margin-bottom: 0.5rem;
  color: var(--text-muted)
}

.comments-list {
  background: rgba(0, 0, 0, .06);
  padding: 0 1rem;
}

@media (prefers-color-scheme: light) {
  .view-previous-comments {
    background: rgba(0, 0, 0, .025);
  }

  .comments-list {
    background: rgba(0, 0, 0, .025);
  }
}

.comment-item {
  border-bottom: 1px solid rgba(0, 0, 0, .15);
}

@media (prefers-color-scheme: light) {
  .comment-item {
    border-bottom: 1px solid rgba(0, 0, 0, .05);
  }
}


.comment-item .comment {
  color: #ddd;
}

@media (prefers-color-scheme: light) {
  .comment-item .comment {
    color: #333;
  }
}

.comment-item:last-child {
  margin-bottom: 0;
  border-bottom: none;
}