.community-page-inner {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  width: 100%;
}
.community-page-posts {
  flex-basis: 100%;
}
.community-page-members {
  min-width: 280px;
}
@media screen and (min-width: 768px) {
  .community-page-inner {
    flex-direction: row;
  }
}
@media screen and (min-width: 1680px) {
  .community-page-inner {
    gap: 2rem;
  }
}

.community-page-fixed-title {
  padding: 1rem;
  position: fixed;
  top: var(--header-height);
  width: 100%;
  left: 0;
  background-color: var(--primary-darkest);
  z-index: 99;
  font-size: .8rem;
  box-shadow: .25rem 0 1rem rgba(0, 0, 0, .3);
}
@media (prefers-color-scheme: light) {
  .community-page-fixed-title {
    box-shadow: .25rem 0 1rem rgba(0, 0, 0, .1);  
  }
}
  
@media screen and (min-width: 768px) {
  .community-page-fixed-title {
    padding: 1rem 2rem;
  }
}