.community-page-inner {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-between;
  width: 100%;
}
.community-page-members {
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .community-page-inner {
    flex-direction: row;
  }
  .community-page-members {
    flex-basis: 700px;
  }
}


/*
    flex flex-row w-100 justify-content-between gap
*/