ul.option-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    padding: 0.25rem;
}


.option-list li {
    padding: 0.5rem;
    background: rgba(0, 0, 0, .025);
    border-bottom: 1px solid rgba(var(--primary-rgb), .25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}
