.community-search {
  position: relative;
  flex-grow: 1;
  max-width: 350px;
  margin-right: auto;
}

.community-search input {
  width: 100%;
  color: #eee;
  background-color: rgba(0, 0, 0, .15);
}
.community-search input::placeholder {
  color: #bbb;
}

.community-search .loader {
  position: absolute;
  right: 0.5rem;
  top: 50%;
  translate: 0 -50%;
}

.community-search:focus-within ul {
  max-height: 100vh;
  overflow: auto;
}

.community-search ul {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 0;
  transition: max-height 0.2s ease-out;
  overflow: hidden;
  background-color: #10274b;
  box-shadow: 0 .15rem 0.3rem rgba(0, 0, 0, .15);
}


.community-search ul li {
  display: flex;
  padding: 1px;
  border: 1px solid transparent;
}
.community-search ul li:focus-within, .community-search ul li:hover {
  background-color: rgba(200, 200, 255, .05);
}


.community-search ul li a {
  flex-grow: 1;
  padding: .5rem 1rem;
}
