.avatar {
  height: 100%;
}

.avatar-wrapper {
  --size: 46px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: var(--size);
  min-width: var(--size);
  height: var(--size);
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgba(255, 255, 255, .3);
}

.avatar-wrapper.sm {
  --size: 32px;
}

.avatar-wrapper.xs {
  --size: 16px;
  border-width: 1px;
}

@media (prefers-color-scheme: light) {
  .avatar-wrapper {
    border-color: rgba(0,0,0,.15);
  }
}