ul.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}



.card {
  --highlight: rgba(255, 255, 255, .035);
  --border: rgba(255, 255, 255, .015);
  padding: 1rem;
  background-color: var(--highlight);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--border);
  break-inside: avoid;
  margin-bottom: 1rem;
}


@media (prefers-color-scheme: light) {
  .card {
    --highlight: rgba(0, 0, 0, .025);
    --border: rgba(0, 0, 0, .015);
  }
}

.card-title {
  margin: .5em 0;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1.3em;
}

.card-title.small {
  font-size: 1.25rem;
}

.card-title.x-small {
  font-size: 1rem;
}