* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
  line-height: 1.5;
  font-weight: 400;

  --primary: #0070f3;
  --primary-rgb: 0, 112, 243;
  --primary-light: #3291ff;
  --primary-dark: #0366d6;
  --primary-darken: #0544a5;
  --primary-darker: #073b8c;
  --primary-darkest:#052c69;
  --secondary: #8600f3;
  --dark: #1e1e1e;
  --light: #fafaff;
  --danger: #e34e4e;
  --success: #1e8e3e;
  --text-muted: #aaaaaa;
  --text-muted-light: #cccccc;
  --text-color: var(--light);
  --content-area: #2e2e2e;
  --content-area-dark: #2a2a2a;
  --content-area-light: #333333;
  --border: rgba(255, 255, 255, .025);
  --header-height: 66px;

  color-scheme: light dark;
  color: var(--light);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
button {
  color: var(--light);
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--light);
    --text-color: var(--dark);
    --content-area: #f4f4f9;
    --content-area-dark: #f0f0f5;
    --content-area-light: #f8f8fa;
    --border: rgba(0, 0, 0, .05);
    --text-muted: #666666;
    --text-muted-light: #999999;
  }
}

body {
  margin: 0;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

a {
  color: var(--primary-light);
  text-decoration: none;
}

@media (prefers-color-scheme: light) {
  a {
    color: var(--primary);
  }
}

input[type="text"],[type="password"], textarea {
  border: 0;
  border-radius: 0;
  min-height: 2rem;
  padding: .5rem;
  background-color: rgba(0,0,0,.035);
  min-width:100%;
}
@media (prefers-color-scheme: dark) {
  input[type="text"],
    [type="password"], textarea {
    background-color: rgba(255,255,255,.035);
  }
}

input[type="checkbox"] {
  margin:0;
}

textarea {
  max-width: 100%;
  min-width: 100%;
  min-height: 3.5rem;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: sticky;
  gap: 1rem;
  top: 0;
  z-index: 100;
  height: var(--header-height);
  
  /* box-shadow: .25rem 0 1rem rgba(0, 0, 0, .05); */
  transition: all .15s ease;
}
#app > header {
  background-color: var(--primary-darker);
  color: #eee;
}
#app > header a {
  color: #eee;
}

ul#main-header-menu {
  margin:0;
  padding:0;
  list-style: none;
  display: flex;
  gap:1rem;
}


/* @media screen and (prefers-color-scheme: light) {
  header {
    background-color: var(--primary);
    color: white
  }
} */

@media screen and (min-width: 768px) {
  /* :root {
    --header-height: 100px;
  }
  header {
    padding: 2rem;
    gap: 2rem;
  } */
  h1 {
    font-size: 2.5em;
    line-height: 1.1;
  }
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.app-main {
  display: flex;
  min-height: 100%;
  width: 100%;
  flex-grow: 1;
}

main {
  padding: 1rem;
  width: 100%;
}

h1.xl {
  font-size: clamp(3vw, 3rem, 10vw);
}

.section-title h3 {
  margin: 0;
  text-align: center;
}

footer {
  display: flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 2rem;
  text-align: center;
  font-size: small;
}



.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-grow:1;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 1280px;
  }  
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1680px;
  }
}


.list-container {
  text-align: center;
}


.author {
  display: flex;
  align-items: center;
  text-align: right;
  white-space: nowrap;
  gap: .5rem;
}

.author .created-at {
  font-size: .65rem;
}