.page-title {
  margin-bottom: 1rem;
  width: 100%;
}

.page-description {
  font-size: 1.25rem;
  color: #ddd;
}
@media screen and (prefers-color-scheme:light) {
  .page-description {
    color: #454545;
  }
}

.page-body {
  display: flex;
  justify-content: center;
  width: 100%;
}

.section-title {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 1rem;
  min-height: 2.25rem;
}