.m-0 {
  margin: 0;
}
.m-1 {
  margin: .25rem;
}
.m-2 {
  margin: .5rem;
}
.m-3 {
  margin: 1rem;
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: .25rem;
}
.p-2 {
  padding: .5rem;
}
.p-3 {
  padding: 1rem;
}

.none {
  display: none;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow {
  flex-grow: 1;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}
.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}
.align-items-end {
  align-items: flex-end;
}

.gap-sm {
  gap: .5rem;
}

.gap {
  gap: 1rem;
}

.gap-lg {
  gap: 2rem;
}


.w-auto {
  width: auto;
}

.w-100 {
  width: 100%;
}

.nowrap {
  white-space: nowrap;
}

.text-muted {
  color: var(--text-muted);
}
.text-danger {
  color: var(--danger);
}

.text-sm {
  font-size: .75rem;
}
@media screen and (max-width: 480px) {
  [sm="text-sm"] {
    font-size: .75rem;
  }
}

.text-rg {
  font-size: 1rem;
}

.text-lg {
  font-size: 1.5rem;
}
@media screen and (max-width: 760px) {
  [lg="text-lg"] {
    font-size: 1.5rem;
  }
}

.text-xl {
  font-size: 2rem;
}

.text-2xl {
  font-size: 3rem;
}

.text-3xl {
  font-size: 4rem;
}

.text-4xl {
  font-size: 5rem;
}

.rounded {
  border-radius: .25rem !important;
}

.rounded-lg {
  border-radius: .5rem !important;
}