.icon-button {
  background: transparent;
  padding: .5rem;
  line-height: 1rem;
  border-color: transparent;
  cursor: pointer;
}

.icon-button:disabled {
  cursor: not-allowed;
  opacity: .85;
}

.icon-button.selected {
  background-color: rgba(0, 0, 0, .1);
}
@media (prefers-color-scheme: light) {
  .icon-button.selected {
    background-color: rgba(0, 0, 0, .05);
  }
}



.icon-button:hover {
  background-color: rgba(0, 0, 0, .1);
  border-color: transparent;
}
@media (prefers-color-scheme: light) {
  .icon-button:hover {
    background-color: rgba(0, 0, 0, .05);
  }
}

.icon-button:hover .stroke {
  stroke: var(--hover-stroke);
}

.icon-button:hover .fill {
  fill: var(--hover-fill);
}