* {
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
:root {
  line-height: 1.5;
  font-weight: 400;

  --primary: #0070f3;
  --primary-rgb: 0, 112, 243;
  --primary-light: #3291ff;
  --secondary: #8600f3;
  --dark: #1e1e1e;
  --light: #ffffff;
  --danger: #ee3333;
  --text-muted: #888888;
  --content-area: #2e2e2e;
  --border: rgba(255, 255, 255, .025);

  color-scheme: light dark;
  color: var(--light);
  background-color: var(--dark);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: var(--dark);
    background-color: var(--light);
    --content-area: #f4f4f4;
    --border: rgba(0, 0, 0, .025);
    --text-muted: #666666;
  }
}

body {
  margin: 0;
  min-height: 100vh;
}

nav ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

header {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
@media screen and (min-width: 480px) {
  header {
    padding: 2rem;
  }
}

main {
  padding: 1rem;
  width: 100%;
}
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1.xl {
  font-size: clamp(3vw, 5rem, 15vw);
}

footer {
  display: flex;
  gap:1rem;
  justify-content: center;
  align-items: center;
  margin-top: auto;
  padding: 2rem;
  text-align: center;
  font-size: small;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 360px;
  margin: 0 auto;
  padding: 1rem;
}
@media screen and (min-width: 640px) {
  .container {
    max-width: 720px;
  }  
}
@media screen and (min-width: 1080px) {
  .container {
    max-width: 1200px;
  }
}


.list-container {
  text-align: center;
}

ul.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap:1rem;
}

.card {
  --highlight: rgba(255, 255, 255, .075);
  --border: rgba(255, 255, 255, .025);
  box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .075);
  padding: 1rem;
  background-color: var(--highlight);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 1px solid var(--border);
  flex-basis: 100%;
}
@media screen and (min-width: 640px) {
  .card {
    flex-basis: calc(50% - .5rem);
  }
}
@media screen and (min-width: 1080px) {
  .card {
    flex-basis: calc(25% - .75rem);
  }
}


@media (prefers-color-scheme: light) {
  .card {
    --highlight: rgba(0, 0, 0, .075);
    --border: rgba(0, 0, 0, .025);
  }
}

.card-title {
  margin: 0;
  font-size: 1.75rem;
  font-weight: 400;
  line-height: 1em;
}

.card-title.small {
  font-size: 1.25rem;
}
.card-title.x-small {
  font-size: 1rem;
}